.App {
  width: 100%;
  /* Минимальная высота страницы */
  min-height: 100vh;
  display: grid;
  /* Формируем темплейты */
  grid-template-areas:
       "header header"
       "aside main"
       "footer footer";
  /* Ширина сайдбара */
  grid-template-columns: 224px 1fr;
  /* Высоты шапки и футера фиксированные*/
  grid-template-rows: 128px 1fr minmax(128px, max-content);
}

